{%   extends "base.html"   %}
{%  block content  %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="flex_header">
  <a id="button" href={{  url_for('static', filename='Archive.zip' )  }}><div>ALL_ICONS</div></a>
  <a id="button" href="http://rdconcepts.design">DESIGNER</a>
    <form id="button" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="CEDW9ZUBHE8XL">
        <input id="button_text" type="submit" border="0" value="DONATE" alt="DONATE">
    </form>

</div>


<h1 class="h1">Open Source SVG Icons</h1>

<input id="color_picker" type="text"/>
<input id="submit_color" type="submit" />


<!-- NEW ICON GROUP -->
<div class="flex_body">
<h2>Shadow Icons</h2>

  <div class="sub_group">

    <a class="background" title="Old Style Phone" href="{{  url_for('static', filename='shadow-icons/phone-land-line.svg')  }}">
      <img class="icon" src="{{  url_for('static', filename='shadow-icons/phone-land-line.svg')  }}" />
      <div class="icon_text">old-phone</div>
    </a>

    <a class="background" href="{{  url_for('static', filename='shadow-icons/gmail-reverse.svg')  }}">
      <img class="icon" src="{{  url_for('static', filename='shadow-icons/gmail-reverse.svg')  }}" />
      <div class="icon_text">gmail-shadow</div>
    </a>

    <a class="background" href="{{  url_for('static', filename='shadow-icons/instagram-reverse-shadow.svg')  }}">
      <img class="icon" src="{{  url_for('static', filename='shadow-icons/instagram-reverse-shadow.svg')  }}" />
      <div class="icon_text">instagram</div>
    </a>

  </div>

</div>

<!-- NEW ICON GROUP -->
<div class="flex_body">

  <h2>Basic Icons</h2>

    <div class="sub_group">

      <a id="phone" class="background" title="Old Style Phone" href="{{  url_for('static', filename='grey-icons/linked-in.svg')  }}">
        <img class="icon" src="{{  url_for('static', filename='grey-icons/linked-in.svg')  }}" />
        <div class="icon_text">linked-in</div>
      </a>

      <a class="background" href="{{  url_for('static', filename='grey-icons/gmail.svg')  }}">
        <img class="icon" src="{{  url_for('static', filename='grey-icons/gmail.svg')  }}" />
        <div class="icon_text">gmail</div>
      </a>

      <a class="background" href="{{  url_for('static', filename='grey-icons/twitter.svg')  }}">
        <img class="icon" src="{{  url_for('static', filename='grey-icons/twitter.svg')  }}" />
        <div class="icon_text">twitter</div>
      </a>

      <a class="background" href="{{  url_for('static', filename='grey-icons/instagram.svg')  }}">
        <img class="icon" src="{{  url_for('static', filename='grey-icons/instagram.svg')  }}" />
        <div class="icon_text">instagram</div>
      </a>

    </div>


</div>



<script>

$('#submit_color').click(function() {
  user_color = $('#color_picker').val();
  console.log(user_color);

  $('.h1').css('color', user_color);

  $('path').attr('fill', '#000');



  }
  );



</script>



  {%  endblock  %}
