{%   extends "base.html"   %}
{%  block content  %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="flex_header">
  <a id="button" href={{  url_for('static', filename='Archive.zip' )  }}><div>ALL_ICONS</div></a>
  <a id="button" href="http://rdconcepts.design">DESIGNER</a>
    <form id="button" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="CEDW9ZUBHE8XL">
        <input id="button_text" type="submit" border="0" value="DONATE" alt="DONATE">
    </form>

</div>


<h1 class="h1">Open Source SVG Icons</h1>


  <!-- This is the area where peep's can enter their color choice -->
  <input name="color" id="color_picker" type="text"/>
  <!-- This is the button to preview the color choice on the front end -->
  <input id="submit_color" value="Backgound" type="submit" />

  <!-- This is the area where peep's can enter their color choice -->
  <input name="color" id="second_color_picker" type="text"/>
  <!-- This is the button to preview the color choice on the front end -->
  <input id="second_color" value="Shadow" type="submit" />

  <!-- This is the area where peep's can enter their color choice -->
  <input name="icon" id="icon_picker" type="text"/>
  <!-- This is the button to preview the color choice on the front end -->
  <input id="icon" value="Icon" type="submit" />


<!-- NEW ICON GROUP -->
<div class="flex_body">
<h2>Shadow Icons</h2>

  <div class="sub_group">

    <a class="background" title="Old Style Phone" href="">

        <svg id="test" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.5 25">
            <defs>
              <style>.cls-1{fill:#555;}.cls-2{fill:#212121;opacity:1;}.cls-3{fill:#fff;}</style>
            </defs>
              <title>shadowIcons</title>
                <g id="Layer_2" data-name="Layer 2">
                  <path class="cls-1" d="M8.8,10.4l3-7.1L30.1,20.9V4.1A3.9,3.9,0,0,0,26.4,0H5.2A3.9,3.9,0,0,0,1.4,4.1V20.9A3.9,3.9,0,0,0,5.2,25H18.8l-7.7-8.7Z"/>
                  <path class="cls-1" d="M30.1,20.9,12.4,3.6,8.8,10.4l2.2,6L18.8,25h7.6A3.9,3.9,0,0,0,30.1,20.9Z"/>
                  <path class="cls-2" d="M30.1,20.9,11.9,3.2l-3,7.1,2.2,6L18.8,25h7.6A3.9,3.9,0,0,0,30.1,20.9Z"/>
                  <path class="cls-3" d="M5.7,3.6l.5-.5h5.6c.3.1.6.3.5.5a11.5,11.5,0,0,0,.2,2.2c.2.7.8,2.1.7,2.4l-3,3a23.4,23.4,0,0,0,3.2,4.2,28.8,28.8,0,0,0,3.6,2.4s2.9-3,3.2-2.9a12.5,12.5,0,0,0,2.3.7c.9.1,2.6,0,2.7.3a42.1,42.1,0,0,1,.3,5.7.9.9,0,0,1-.7.5c-.4,0-8.7.3-14-5.7A20.7,20.7,0,0,1,5.7,3.6Z"/>
                </g>
        </svg>

      <div class="icon_text">old-phone</div>
    </a>

    <a class="background" href="{{  url_for('static', filename='shadow-icons/gmail-reverse.svg')  }}">
      <img class="icon" src="{{  url_for('static', filename='shadow-icons/gmail-reverse.svg')  }}" />
      <div class="icon_text">gmail-shadow</div>
    </a>

    <a class="background" href="{{  url_for('static', filename='shadow-icons/instagram-reverse-shadow.svg')  }}">
      <img class="icon" src="{{  url_for('static', filename='shadow-icons/instagram-reverse-shadow.svg')  }}" />
      <div class="icon_text">instagram</div>
    </a>

  </div>

</div>

<!-- NEW ICON GROUP -->
<div class="flex_body">

  <h2>Basic Icons</h2>

    <div class="sub_group">

      <a id="phone" class="background" title="Old Style Phone" href="{{  url_for('static', filename='grey-icons/linked-in.svg')  }}">
        <img class="icon" src="{{  url_for('static', filename='grey-icons/linked-in.svg')  }}" />
        <div class="icon_text">linked-in</div>
      </a>

      <a class="background" href="{{  url_for('static', filename='grey-icons/gmail.svg')  }}">
        <img class="icon" src="{{  url_for('static', filename='grey-icons/gmail.svg')  }}" />
        <div class="icon_text">gmail</div>
      </a>

      <a class="background" href="{{  url_for('static', filename='grey-icons/twitter.svg')  }}">
        <img class="icon" src="{{  url_for('static', filename='grey-icons/twitter.svg')  }}" />
        <div class="icon_text">twitter</div>
      </a>

      <a class="background" href="{{  url_for('static', filename='grey-icons/instagram.svg')  }}">
        <img class="icon" src="{{  url_for('static', filename='grey-icons/instagram.svg')  }}" />
        <div class="icon_text">instagram</div>
      </a>




    </div>


</div>



<script>

$('#submit_color').click(function() {
  user_color = $('#color_picker').val();
  console.log(user_color);
  $('.cls-1').css('fill', user_color);
  }
  );

  $('#second_color').click(function() {
    user_color = $('#second_color_picker').val();
    console.log(user_color);
    $('.cls-2').css('fill', user_color);
    }
    );

    $('#icon').click(function() {
      user_color = $('#icon_picker').val();
      console.log(user_color);
      $('.cls-3').css('fill', user_color);
      }
      );



</script>



  {%  endblock  %}
